.navlink:hover {
  transition: 0.3s ease-in;
  background-color: rgba(100, 100, 100, 0.5)
}

.navbar {
  background-color: rgba(0,0,0, 0.0);
  transition: 0.5s ease-out;
  border-bottom: 2px white solid
}

.navbar:hover {
  transition: 0.5s ease-in;
  background-color: rgba(100,100,100, 0.3);
}

.colorButton {
  padding-left: 10px;
  padding-right: 10px;
}